<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Add Habit</title>
</head>

<body>
    <h2>
        Add Habit
    </h2>

    <p>
        <form action="{{ url_for('add_habit') }}" method='POST'>
            <label> Title </label><br>
            <input type="text" name="title"><br>
            <label> Description </label><br>
            <input type="text" name="description"><br>
            <label> Frequency </label><br>
            <input type="radio" id="daily" name="frequency" value="daily" required>
            <label for="daily">Daily</label><br>
            <input type="radio" id="weekly" name="frequency" value="weekly" required>
            <label for="weekly">Weekly</label><br>
            <input type="radio" id="monthly" name="frequency" value="monthly" required>
            <label for="monthly">Monthly</label><br><br>
            <label> Set a milestone for your habit [Optional] </label><br>
            <input type="text" name="milestone"><br>
            <label> Would you like to set a Deadline for the milestone? </label><br>
            <input type="date" name="deadline"><br>
            <input type="submit" value="Submit">

            <p>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {{ messages[0] }}
            {% endif %}
            {% endwith %}
            </p>

        </form>
    </p>
</body>
</html>
