<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Dashboard</title>
</head>

<body>
    <p>
        Hello {{user.username}}!<br>
        <a href="{{ url_for('add_habit', user=user) }}'">Add Habit</a><br>
        <a href="{{ url_for('logout') }}" class="navbar-item">Logout</a>
    </p>

    <p>
        <h2> {{ date }} </h2>

        <form action="{{ url_for('dashboard', current_date=date) }}" method='POST'>
            <input type="submit" name="increment" value="yesterday">
            <input type="submit" name="increment" value="today">
            <input type="submit" name="increment" value="tomorrow">
        </form>
    </p>

    <p>
        <h2> Habits </h2>

        <h3> To Do </h3>
            <form method='POST'>
                {% for habit, log in habits %}
                    {% if not log.status %}

                    <input type="radio" id="{{log.id}}" name="done" value="{{log.id}}">
                    <label for="{{log.id}}"><a href="{{ url_for('habit', habit_id=habit.id) }}"> {{habit.title}} </a><br></label>
                    
                    {% endif %}
                {% endfor %}
                <input type="submit" name="done" value="Check off">
            </form>
        
        <h3> Done </h3>
            <form method='POST'>
                {% for habit, log in habits %}
                    {% if log.status %}
                        <input type="radio" id="{{log.id}}" name="undo-done" value="{{log.id}}">
                            <s><label for="{{log.id}}"><a href="{{ url_for('habit', habit_id=habit.id) }}"> {{habit.title}} </a><br></label></s>
                    {% endif %}
                {% endfor %}
                <input type="submit" name="undo-done" value="Undo checkoff">
            </form>
    </p>
    
</body>
</html>
