<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Create Habit</title>
</head>

<body>
    <p>
        <a href="{{url_for('home')}}"> Home </a>
    </p>
    <p>
        <h3> Title </h3>
            {{habit.title}}

        <h3> Description </h3>
            {{habit.description}}

        <h3> Frequency </h3>
            {{habit.frequency}}

        <h3> Status </h3>
            {{habit.active}}
        
        <h3> Date Created </h3>
            {{habit.date_created}}
    </p>

    <p>
        <a href="{{ url_for('edit_habit', habit_id=habit.id) }}"> Edit Habit </a>
    </p>
    
</body>
</html>
