<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>CS162 Final Project</title>
</head>
<body>
    {% if current_user.is_authenticated %}

    <p>Hello {{current_user.username}}! </p>
    <p><a href="{{ url_for('dashboard') }}">User Dashboard</a></p>
    <p><a href="{{ url_for('logout') }}" class="navbar-item">Logout</a></p>
    I'm not showing you the login and signup pages because you're a user already, but they exist.
    {% endif %}

    {% if not current_user.is_authenticated %}
    <p>Hello Stranger!</p>
    <p><a href="{{ url_for('login') }}">Login</a></p>
    <p><a href="{{ url_for('signup') }}">Sign Up</a></p>
    I'm not showing you the dashboard page because you're not a user yet, but it exists.
    {% endif %}
    
    <p>For admin purposes (although everyone can see this at the moment):</p>
    <p><a href="{{ url_for('users') }}">All registered users</a></p>
</body>
</html>
