<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Login</title>
</head>
<body>
    <h1> Login </h1>
    <form method="POST" action="{{ url_for('login') }}">
        <input type="username" name="username" placeholder="Your Username" autofocus="">
        <input type="password" name="password" placeholder="Your Password">
        <label class="checkbox">
            <input type="checkbox" name="remember">
            Remember me
        </label>
    <button type='submit' >Login</button>
    </form>
	<p>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	{{ messages[0] }}. Try again.
	{% endif %}
	{% endwith %}
    </p>

    <a href=" {{ url_for('signup') }}">Sign Up</a>
</body>
</html>
